<%layout("/layouts/boilerplate")-%>
<body>
    <h1>All tasks</h1><br>


    <ul>
        <% for(let task of alltasks){ %>
            <li><a href="/tasks/<%=task._id%>"><%=task.title%></a></li>
            

        <%}%>
    </ul>
</body>

