<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProgiFy</title>
</head>
<body>
    <h2>Add new Task</h2> <br>
    <form method="post" action="/tasks">
          <input name="tasks[title]" placeholder="enter title" type="text" required><br>
          <textarea name="tasks[description]" placeholder="wrtie description" type="text" required></textarea><br>
          <input name="tasks[img]" placeholder="enter link" type="text" ><br>
          <br>
          <button>Add</button>
    </form>

</body>
</html>