<%layout("/layouts/boilerplate")-%>
<body>
    <br>
    <h2>Add New task</h2><br>
    <form method="post" action="/create/taskdata/<%=._id%>">

         <div>
            <label for="data" class="form-label">Enter Task:</label>
            <input name="taskdata" placeholder="enter title" type="text" required class="form-control" >
         </div>
         <button type="button" class="btn btn-primary">Add</button>
    </form>
</body>
